<p id="notice"><%= notice %></p>

<div>
  <strong>Name: </strong>
  <span id="name"><%= @user.name %></span>
</div>
<div>
  <strong>Email: </strong>
  <span id="email"><%= @user.email %></span>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'User list', users_path %>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>