<div id='chat_messages' data-room-id="<%= @room.id %>">
  <% @chat_messages.each do |chat_massage| %>
    <div><%= "#{chat_massage.user_name}: #{chat_massage.content}" %></div>
  <% end %>
</div>

<%= form_for @chat_message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
    <small class="text-muted">最大100文字です</small>
  </div>

  <%= f.submit "発言する", class: 'btn btn-primary btn-lg' %>
<% end %>
