<%= javascript_pack_tag 'rooms/show' %>
<% provide(:title, 'チャットルーム') %>

<H1><%= @room.name %></H1>

<div id="other-videos"></div>
<video id="self-video" muted autoplay playsinline></video>

<form id="make-call">
  <input id="join-room" type="text" placeholder="ルーム名">
  <button type="submit">参加する</button>
</form>

<div class="select">
  <label for="audioSource">音声入力: </label>
  <select id="audioSource"></select>
</div>

<div class="select">
  <label for="videoSource">映像入力: </label>
  <select id="videoSource"></select>
</div>

<div id="step1">
  <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
  <div id="step1-error">
    <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow
      when asked for permission by the browser.</p>
    <a href="#" id="step1-retry">Try again</a>
  </div>
</div>

<a href="#" id="end-call">End call</a>

<ul>
  <% @room.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<div id='chat_messages' data-room-id="<%= @room.id %>">
  <%= render @room.chat_messages %>
</div>

<%= form_for @chat_message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control' %>
    <small class="text-muted">最大100文字です</small>
  </div>

  <%= f.submit "発言する", class: 'btn btn-primary btn-lg' %>
<% end %>
