<% provide(:title, 'チャットルーム') %>
<H1><%= @room.name %></H1>

<ul>
  <% @room.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<div id='chat_messages' data-room-id="<%= @room.id %>">
  <%= render @room.chat_messages %>
</div>

<%= form_for @chat_message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control' %>
    <small class="text-muted">最大100文字です</small>
  </div>

  <%= f.submit "発言する", class: 'btn btn-primary btn-lg' %>
<% end %>
